# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Coverage
coverage
.nyc_output

# Cache
.cache
.parcel-cache